 
<settings>
  <servers>
    <server>
      <id>github-kgrill-backend</id>
      <username>${env.GITHUB_ACTOR}</username>
      <password>${env.GITHUB_TOKEN_1}</password>
    </server>
    <server>
      <id>github-kgrill-service</id>
      <username>${env.GITHUB_ACTOR}</username>
      <password>${env.GITHUB_TOKEN_2}</password>
    </server>
    <server>
      <id>github-kgrill-model</id>
      <username>${env.GITHUB_ACTOR}</username>
      <password>${env.GITHUB_TOKEN_3}</password>
    </server>
  </servers>
</settings>

